body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    margin: 0;
    padding: 0;
}

#caption {
    bottom: 2rem;
    margin: 0 auto;
    position: relative;
}

#caption, #caption a {
    color: #fff;
}

main {
    display: flex;
    height: 100vh;
}

.image-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-content img {
    height: 100%;
}

.text-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    height: 1.5rem;
}

.formWidget {
    display: grid; 
    grid-template-rows: auto auto;
}

section {
    padding: 2rem;
    width: 100%;
}