/* Custom properties */
:root {
    --custom-font: 'Cormorant', serif;
    --leaf-green: #577048;
    --dark-leaf-green: #21351C;
}

/* General layout */

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
}


/* Hero image, caption, and logo overlay */

#heroImage {
    height: 100%;
}

#heroImage-caption {
    bottom: 3rem;
    font-family: var(--custom-font);
    margin: 0 auto;
    position: relative;
}

#heroImage-caption, #heroImage-caption a {
    color: #fff;
}

.imageContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imageContent-overlay {
    align-items: center;
    background-color: rgba(000, 000, 000, 0.5);
    bottom: 90%;
    display: flex;
    height: 8rem;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.imageContent-overlay img {
    height: 80%;
}

.imageContent-overlay img, .imageContent-overlay h1 {
    color: rgba(255, 255, 255, 1);
}

.imageContent-overlay h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
}


/* Text content, including the form */
button {
    background: var(--leaf-green);
    border: 1px solid var(--leaf-green);
    border-radius: 10px;
    color: #fff;
    font-family: var(--custom-font);
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

button:hover {
    background: var(--dark-leaf-green);
    cursor: pointer;
}

.formContainer  {
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.formContainer h2 {
    margin-top: 0;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    border: 1px solid #E5E7EB;
    height: 1.5rem;
}

.formWidget {
    display: grid; 
    grid-template-rows: auto auto;
}

section {
    padding: 2rem 3rem;
    width: 100%;
}

section a {
    color: var(--leaf-green);
}

section a:hover {
    color: var(--dark-leaf-green);
}

.text-content {
    align-items: center;
    background: #f9f9f9;
    color: #444;
    display: flex;
    flex-direction: column;
    font-family: var(--custom-font);
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
}